name: build
on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
      - ".github/workflows/updatecli.yml"
      - ".github/workflows/release.yml"
      - ".github/workflows/dependabot-merge.yml"
      - ".github/workflows/build.yml"
      - ".github/dependabot.yml"
  pull_request:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  JUST_VERSION: 1.46.0

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: "temurin"
          java-version: "11"
          check-latest: false
      - name: Install Just
        uses: taiki-e/install-action@887bc4e03483810873d617344dd5189cd82e7b8b # v2.67.11
        with:
          tool: just@${{ env.JUST_VERSION }}
      ## Since we're wrapping maven there is no pom file which
      ## means that setup-java fails if you add a cache: "maven"
      - name: Maven Cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-cache-${{ hashFiles('Justfile') }}-${{ hashFiles('.env') }}
          restore-keys: |
            ${{ runner.os }}-maven-cache-${{ hashFiles('Justfile') }}
            ${{ runner.os }}-maven-cache-
      - name: Build & Test
        run: |
          just build test
