name: dependabot-merge
run-name: Merge PR (${{ github.event.client_payload.detail.pull_request }})
on:
  repository_dispatch:
    types:
      - pr-trigger

permissions: {}

jobs:
  actions_merge:
    runs-on: ubuntu-latest
    name: Dependabot Merge (action changes)
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - name: Checkout branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          ref: ${{ github.event.client_payload.base.ref }}
      - name: "Create Token"
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.WORKFLOW_UPDATE_APP_ID }}
          private-key: ${{ secrets.WORKFLOW_UPDATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: "${{ github.event.repository.name}}"
      - name: Dependabot Merge
        id: dependabot_merge
        uses: quotidian-ennui/actions-olio/dependabot-merge@2224d6e995321a927dcefae3c67cb7fa63510728 # v0.8.3
        with:
          token: ${{ steps.app-token.outputs.token }}
          change_filter: ".github/workflows/**"
